<div class="container">
        
    <div class="row">
                        
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">upload</h3>
                </div>
                <div class="panel-body">

                    <form id="upload-contacts-form" class="form-contacts" novalidate="novalidate">

                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Upload from my device.</p>
                        </div>

                        <div class="form-group">
                            <label for="contacts_description"><%= translate("description") %> (optional)</label>
                            <input type="text" id="contacts_description" name="contacts_description" class="form-control">
                        </div>

                        <button id="create-btn" class="btn btn-success btn-block" type="submit"><%= translate("selectMessage") %></button>
                    </form>
                          
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">get list</h3>
                </div>
                <div class="panel-body">

                    <form id="answer-sound-form" class="form-sound" novalidate="novalidate">
  

                        <div class="form-group input-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Get a contact list already added.</p>
                        </div>

                        <div class="form-group">
                            <label for="transfer_description"><%= translate("description") %> (optional)</label>
                            <input type="text" id="campaign_description" name="transfer_description" class="form-control">
                        </div>

                        <button id="create-btn" class="btn btn-success btn-block" type="submit"><%= translate("selectMessage") %></button>
                    </form>
                          
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">add contacts</h3>
                </div>
                <div class="panel-body">

                    <form id="answer-machine-sound-form" class="form-sound" novalidate="novalidate">

                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Select / Create individual contacts.</p>
                        </div>

                        <div class="form-group">
                            <label for="campaign_description"><%= translate("description") %> (optional)</label>
                            <input type="text" id="campaign_description" name="campaign_description" class="form-control">
                        </div>

                        <button id="create-btn" class="btn btn-success btn-block" type="submit"><%= translate("selectMessage") %></button>
                    </form>
                          
                </div>
            </div>

        </div>

    </div>
</div>