<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#profile">
            <span class="glyphicon glyphicon-user">
                <%= translate("Profile") %>
            </span>
        </a>
    </li>

    <li>
        <a href="#reports">
            <span class="glyphicon glyphicon-stats">
                <%= translate("Reports") %>
            </span>
        </a>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-plus">
                <%= translate("Create") %>
            </span>
          <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#campaigns"><i class="fa fa-bullhorn fa-fw"></i> <%= translate("newCampaign") %></a></li>
            <li><a href="#orgs"><i class="fa fa-users fa-fw"></i> <%= translate("newOrganization") %></a></li>
          </ul>
    </li>
<!-- 
    <li>
        <a href="#notifications" title="<%= translate("Notifications") %>">
            <span class="glyphicon glyphicon-inbox">
                <%= translate("Notifications") %>
            </span>
        </a>
    </li>
-->
    <li>
        <a href="#settings" title="<%= translate("Settings") %>">
            <span class="glyphicon glyphicon-cog">
                <%= translate("Settings") %>
            </span>
        </a>
    </li>

    <li>
        <a href="#logout" title="<%= translate("Exit") %>">
            <span class="glyphicon glyphicon-log-out"> 
                <%= translate("Exit") %>
            </span>
        </a>
    </li> 
</ul>