<div class="container">
        
    <div class="row">
                        
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= translate("upload") %></h3>
                </div>
                <div class="panel-body">

                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-cloud-upload fa-stack-1x"></i>
                    </span>

                    <form id="upload-contacts-form" class="form-contacts" novalidate="novalidate">

                        <div class="form-group">
                            <label for="contact_first_name"><%= translate("directoryName") %></label>
                            <input type="text" id="contact_first_name" name="contact_first_name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Upload from my device.</p>
                        </div>

                        <button id="create-btn" class="btn btn-success btn-block" type="submit"><%= translate("selectMessage") %></button>
                    </form>
                          
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= translate("selectContactDirectory") %></h3>
                </div>
                <div class="panel-body">

                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-folder fa-stack-1x"></i>
                    </span>

                    <form id="answer-sound-form" class="form-sound" novalidate="novalidate">
  

                        <p class="help-block">Get a directory contact list already added.</p>

                        <button id="create-btn" class="btn btn-success btn-block" type="submit"><%= translate("selectMessage") %></button>
                    </form>
                          
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= translate("addContact") %></h3>
                </div>
                <div class="panel-body">

                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-user fa-stack-1x"></i>
                    </span>

                    <form id="answer-machine-sound-form" class="form-sound" novalidate="novalidate">

                        <div class="form-group">
                            <label for="contact_first_name"><%= translate("firstName") %></label>
                            <input type="text" id="contact_first_name" name="contact_first_name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="contact_last_name"><%= translate("lastName") %></label>
                            <input type="text" id="contact_last_name" name="contact_last_name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="contact_phone"><%= translate("phoneNumber") %></label>
                            <input type="tel" id="new-phone-number" name="contact_phone_number" class="form-control">
                        </div>

                        <button id="create-btn" class="btn btn-success btn-block" type="submit"><%= translate("selectMessage") %></button>
                    </form>
                          
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- start detail -->
            <h3 class="title"><%= translate("allContacts") %></h3>

            <table id="contacts-list" class="table">
                <thead>
                    <tr>
                        <th><%= translate("firstName") %></th>
                        <th><%= translate("lastName") %></th>
                        <th><%= translate("phoneNumber") %></th>
                        <th><%= translate("country") %></th>
                        <th><%= translate("location") %></th>
                        <th><%= translate("timezone") %></th>
                        <th><%= translate("checked") %></th>
                        <th><%= translate("dnc") %></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div class="pagination">
                <ul class="pagination">
                    <li><a href="javascript:;"><%= translate("previous") %></a></li>
                    <li class="active"><a href="javascript:;">1</a></li>
                    <li><a href="javascript:;">2</a></li>
                    <li><a href="javascript:;">3</a></li>
                    <li><a href="javascript:;">4</a></li>
                    <li><a href="javascript:;"><%= translate("next") %></a></li>
                </ul>
            </div>
                    
            <div id="no-contacts"></div>
            <!-- end detail-->
        </div>
    </div>
</div>