<div class="container">
        
    <div class="row">
        <div class="col-md-2">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-cube fa-stack-1x"></i>
            </span>
        </div>

        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= translate("newCube") %></h3>
                </div>
                <div class="panel-body">

                    <form id="profile-form" class="form-profile" novalidate="novalidate">

                        <div class="row">

                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">/</span>
                                    <input id="cube_name" type="text" class="form-control" placeholder="Weighted Companion Cube.">
                                </div>

                                <p>
                                    <%= translate("greatCubeNames") %>.
                                </p>

                            </div>
                        </div>                                       

                        <div class="form-group">
                            <label for="cube_description"><%= translate("descriptionOptional") %></label>
                            <input type="text" id="cube_description" name="cube_description" class="form-control">
                        </div>

                        <button id="create-cube-btn" class="btn btn-success btn-block" type="submit"><%= translate("createCube") %></button>
                    </form>
                      
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li><a href="#all-campaigns-tab" data-toggle="tab"><%= translate("all") %></a></li>
                <li><a href="#active-tab" data-toggle="tab"><%= translate("active") %></a></li>
                <li><a href="#paused-tab" data-toggle="tab"><%= translate("paused") %></a></li>
                <li><a href="#inbound-tab" data-toggle="tab"><%= translate("inbound") %></a></li>
                <li><a href="#outbound-tab" data-toggle="tab"><%= translate("outbound") %></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="all-campaigns-tab"></div>
                <div class="tab-pane" id="active-tab"></div>
                <div class="tab-pane" id="paused-tab"></div>
                <div class="tab-pane" id="inbound-tab"></div>
                <div class="tab-pane" id="outbound-tab"></div>
            </div>  
        </div>
    </div>
</div>