<div class="bs-example">

    <div id="account-dropdown" class="btn-group">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
            <i class="fa fa-user fa-fw"></i>
            <span data-label-placement=""><%= account %></span>
            <span class="caret"></span>
        </button>
        <ul id="account-list-ul" class="dropdown-menu">
            <li>
                <input type="radio" id="current_account_0" name="current_account" value="0" checked="">
                <label for="current_account_0"><%= account %></label>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#settings"><i class="fa fa-users fa-fw"></i> <%= translate("manageOrganizations") %></a>
            </li>
            <li>
                <a href="#orgs"><i class="fa fa-plus fa-fw"></i> <%= translate("createOrganization") %></a>
            </li>
            <li class="divider"></li>
        </ul>
    </div>  
</div>