<ul class="nav nav-pills pull-right">
    <li class="active"><a href="#dashboard"><%= translate("activity") %></a></li>
    <li><a href="#contacts"><%= translate("contacts") %><span class="badge pull-right">10</span></a></li>
    <li><a href="#members"><%= translate("members") %><span class="badge pull-right">42</span></a></li>
    <li><a href="#teams"><%= translate("teams") %><span class="badge pull-right">13</span></a></li>
    <li><a href="#reports"><%= translate("reports") %></a></li>
</ul>
