<div class="jumbotron">
    <div class="container">
        
        <div class="row">
                
            <div class="col-md-8">
                <h1><%= translate("ioFunBanner") %></h1>

                <div class="landing-text">
                    <h3>
                        <%= translate("ioFunLandingText") %>
                    </h3>

                    <p class="landing-actions">
                        <a href="#howto" class="btn btn-large"><%= translate("howItWorks") %></a>
                        <a href="#login" class="btn btn-large"><%= translate("getStarted") %></a>
                        <a href="#enterprise" class="btn btn-large"><%= translate("needEnterpriseResources") %>?</a>
                    </p>  

                    
                </div>
                          
            </div>

            <div class="col-md-4">  
                <form id="home-signup-form" class="form-signup" novalidate="novalidate">
    
                    <div class="form-group">
                        <input type="text" id="signup_username" name="signup_username" class="form-control" placeholder="<%= translate("yourUsername") %>" autofocus="">
                    </div>

                    <div class="form-group">
                        <input type="text" id="signup_email" name="signup_email" class="form-control" placeholder="<%= translate("yourEmail") %>">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="signup_password" name="signup_password" placeholder="<%= translate("createApassword") %>"/>
                        <p class="text-muted"><%= translate("passwordStuffs") %><p>
                    </div>
                    
                    <button id="signup-btn" class="btn btn-lg btn-primary btn-block" type="submit"><%= translate("signUp") %></button>
                    <p class="text-muted">By clicking "Sign up", you agree to our <a href="#terms">terms of service</a> and <a href="#privacy">privacy policy</a>. We will send you account related emails occasionally.</p>
                </form>
            </div>
        </div>

    </div>
</div>
      

<div class="container marketing">

    <div class="row">

        <div class="col-md-12 marketing-header">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-heartbeat  fa-stack-1x"></i>
            </span>

            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-spinner fa-stack-1x"></i>
            </span>

            
            <h2>Why you'll love io fun.</h2>
            
            <h3>Powerful features to make communication campaigns more collaborative, intelligente and simple.</h3>

            <p><%= translate("oldMan") %></p> <b><%= translate("oldManAristotle") %></b>
            
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-bullhorn fa-stack-1x"></i>
            </span>

            <h3>Broadcast messages to thousands of contacts.</h3>
            <p>Send voice messages and reminders to thousands or millions of contacts at high speed.</p>
        </div>

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-users fa-stack-1x"></i>
            </span>

            <h3>Friction-less development across teams.</h3>
            <p>Work with project collaborators or teams of people in organization accounts to communicate with ease..</p>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-pie-chart fa-stack-1x"></i>
            </span>

            <h3>Great communication starts with collaboration.</h3>
            <p>Review changes, comment on lines of code, report issues, and plan the future of your project with discussion tools.</p>
        </div>
                    
        

        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <!-- <i class="fa fa-cloud fa-stack-1x"></i> -->
                <i class="fa fa-phone fa-stack-1x"></i>
            </span>

            <h3>Manage inbound and outbound.</h3>
            <p>Match callers and custom teams as they wait for an answer, get real-time stats on the number of calls per queues, teams and wait times.</p>
        </div>
    </div>

    <!-- enterprise -->
    <div class="row">
        <div class="col-md-12 marketing-header">

            <h2>Bring the fun to your data center.</h2>

            
            <h3>Use IO FUN Enterprise, the best way to manage communications, on your servers.</h3>

            <p class="landing-actions">
                <a href="#enterprise" class="btn btn-large">Learn more about Enterprise</a>
            </p> 
            
        </div>
    </div>
</div> <!-- /container -->  