<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only"><%= translate("ioFunNavigation") %></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
      
            <a class="navbar-brand" href="#home">
                <%= translate("iofun") %>
            </a>
        </div>

        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <!-- renderLanding -->
            <div id="fun-nav-landing"></div>
            <!-- renderDashboard -->
            <div id="fun-nav-dashboard"></div>
            <!-- renderAdmin -->
            <div id="fun-nav-admin"></div>
            <!-- renderFecoteme -->
            <div id="fun-nav-fecoteme"></div>
        </nav>
    </div>
</header>