<ul class="nav navbar-nav pull-right">
    <li>
        <a class="btn-header" href="#dashboard">
            <span class="glyphicon glyphicon-dashboard">
                <%= translate("Dashboard") %>
            </span>
        </a>
    </li>

    
    <li>
        <a class="btn-header" href="#phone">
            <span class="glyphicon glyphicon-earphone">
                <%= translate("Phone") %>
            </span>
        </a>
    </li>
    <li>
        <a class="btn-header" href="#reports">
            <span class="glyphicon glyphicon-stats">
                <%= translate("Reports") %>
            </span>
        </a>
    </li>

    <!--

    <li>
        <a class="btn-header" href="#recordings">
            <span class="glyphicon glyphicon-headphones">
                <%= translate("Recordings") %>
            </span>
        </a>
    </li>
    
    -->

    <li>
        <a class="btn-header" href="#settings">
            <span class="glyphicon glyphicon-wrench">
                <%= translate("Settings") %>
            </span>
        </a>
    </li>

</ul>