<ul class="nav navbar-nav pull-right">
    
    <li>
        <a class="btn-header" href="#technology">
            <span class="glyphicon glyphicon-tower">
                <%= translate("Technology") %>
            </span>
        </a>
    </li>
    <li>
        <a class="btn-header" href="#stories">
            <span class="glyphicon glyphicon-glass">
                <%= translate("Company") %>
            </span>
        </a>
    </li>
    <li>
        <a class="btn-header" href="#community">
            <span class="glyphicon glyphicon-fire">
                <%= translate("Community") %>
            </span>
        </a>
    </li>
    <li>
        <a class="btn-header" href="#contact">
            <span class="glyphicon glyphicon-send">
                <%= translate("Support") %>
            </span>
        </a>
    </li>


</ul>